ul {
    list-style: none;

}

li {
    border-bottom: 2px solid lightgray;
    text-align: left;
    padding-left: 11px;
}

.card-title {
    font-size: 22px;
}

img {
    height: 110px;
    width: 110px;
}

.fiveDayColor {
    background-color: #1b8cfd;
    color: rgb(250, 245, 245);
    padding: 25px;
    float: left;
    margin: 12px;
    border: 2px solid rgb(219, 218, 218);
    border-radius: 5px;
}
